.card_container{
    display: flex;
    padding: 10px 10px 0 10px ;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(206, 239, 252);
    border: 2px solid rgb(0, 0, 0);
}
.info_number{
    color: grey;
    margin-top:-8px ;
    font-weight: 700;
}
.genderInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}
.gender{
    font-size: 16px;
    font-weight: 600;
}